# Backend API Configuration
VITE_API_BASE_URL=https://api-6-semestre-backend.onrender.com
VITE_LOGIN_ENDPOINT=/login
VITE_USUARIO_ENDPOINT=/usuario
VITE_RELATORIOS_ENDPOINT=/relatorios/enviar
VITE_UPLOAD_ENDPOINT=/upload
VITE_WS_URL=wss://api-6-semestre-backend.onrender.com/wb/chatbot
VITE_AUTH_TOKEN_KEY=auth_token
